<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ypc.solrdemo.dao.UserDao">

	   
	<select id="queryById" resultType="com.ypc.solrdemo.entity.User"  >
		       SELECT * FROM t_user WHERE id= #{id}
		   
	</select>

	<select id="queryAll" resultType="com.ypc.solrdemo.entity.User">
		select * from t_user
	</select>
	<insert id="insertUser"
		parameterType="com.ypc.solrdemo.entity.User" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_user (username,age,mobile,address,sex,description)
		values (#{userName},#{age},#{mobile},#{address},#{sex},#{description})
	</insert>
	
	<DELETE id="deleteById" >
	delete from t_user where id=#{id} 
	</DELETE>
</mapper>
